* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 15vh auto;
  grid-template-areas:
    'header header'
    'form content';
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  grid-area: header;
  background-color: #4286f4;
  color: white;
  text-shadow: 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

h1, h2 {
  font-family: 'Racing Sans One', cursive;
}

#form-column {
  grid-area: form;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-column h2 {
  margin: 1vw;
  color: #4286f4;
  font-size: 2rem;
  text-shadow: 2px 2px white;
}

#new-order-form {
  width: 90%;
}

.form-item {
  display: grid;
  grid-template-columns: 11vw auto;
  margin: 1vw 0;
}

.form-item label {
  margin-right: 1vw;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}

.form-item input {
  height: 2vw;
}

.radio-set {
  display: grid;
  grid-template-columns: 7vw auto;
}

.radio-single {
  display: flex;
  align-items: center;
  margin-left: 1vw;
}

.radio-single p {
  margin-left: 1vw;
}

input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px lightgrey solid;
  padding: 0 0.5vw;
}

#content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 82vh;
  overflow-y: scroll;
  padding-bottom: 3vh;
}

.button {
  font-size: 1.5rem;
  font-family: 'Racing Sans One', cursive;
  display: block;
  margin: 1vw auto;
  background-color: #4286f4;
  color: white;
  text-shadow: 1px 1px black;
  padding: 0.5vw 1vw;
  border: none;
  cursor:pointer;
  box-shadow: 2px 2px black;
}

.button:hover {
  transform: scale(1.1, 1.1);
  transition: 0.1s;
}

.button:active {
  transform: scale(1, 1);
  transition: 0.2s;
}

#submit {
  background-color: #4286f4;
}

#delete-all {
  background-color: #f45742;
}

.shipping-order {
  width: 66vw;
  margin-top: 2vw;
  border: 1px solid grey;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 10vw auto 20vw;
  grid-template-rows: auto auto;
  grid-template-areas:
    'priority order-id order-id'
    'priority order-details shipping-date'
}

.priority {
  grid-area: priority;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  text-align: center;
}

.order-id {
  grid-area: order-id;
  background-color: #4286f4;
  padding: 0.5vw;
  font-weight: bold;
}

.order-details {
  grid-area: order-details;
  padding: 0.5vw;
  background-color: rgba(255, 255, 255, 0.9);
}

.shipping-date {
  grid-area: shipping-date;
  background-color: rgba(141, 182, 248, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
